body {
  font-family: sans-serif;
}
#search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4%;
}
.nav_logo {
  display: flex;
  width: 260px;
  height: 58px;
}
.nav_logo img {
  background-image: url();
  max-width: 150px;
  margin-left: 20px;
  margin-top: -31px;
}
.nav_logo div {
  overflow: hidden;
}
span:hover {
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}
.container {
  background: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border: 2px solid white;
  top: 0;
  z-index: 2;
}
.search_mic {
  width: 728px;
  height: 40px;
  display: flex;
  align-content: center;
}
.search_mic button {
  background-color: #f0f0f0;
  border: 1px solid #dbdbdb;
  font-size: 30px;
}
.search_mic button span {
  font-size: 30px;
  padding: 6px;
}
.hidden,
.hidden1 {
  color: white;
  visibility: hidden;
  font-size: 14px;
  background-color: black;
  opacity: 0.6;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  position: relative;
  margin-top: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 9;
}

span:hover + .hidden {
  visibility: visible;
}
#mic:hover + .hidden1 {
  visibility: visible;
}
#mic {
  background-color: #f0f0f0;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  font-size: 30px;
  padding: 5px;
  margin-left: 10%;
}
.search_mic input {
  border: 1px solid #dbdbdb;
  width: 563px;
  height: 36px;
  margin: 0px;
}
.search_mic input::placeholder {
  font-size: 17px;
  padding-left: 20px;
}

.right_nav {
  display: flex;
  gap: 20px;
  padding-right: 30px;
}
.right_nav span {
  font-size: 33px;
}
#menu {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 10px;
}
.filter {
  position: fixed;
  left: 250px;
  top: 70px;
  width: calc(100% - 230px);
  width: 90%;
  height: 60px;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  z-index: -1;
}
.filter::-webkit-scrollbar {
  display: none;
}
.filter-option {
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 10px;
  color: #242424;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #dbdbdb;
}
.leftnav {
  overflow-y: auto;
  min-width: 230px;
  width: 15%;
  height: 660px;
  position: fixed;
  left: 10px;
  top: 80px;
}
.leftnav::-webkit-scrollbar {
  background: white;
  width: 10px;
}
.leftnav::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.result {
  width: 83%;
  height: auto;
  position: absolute;
  left: 250px;
  top: 132px;
  z-index: -5;
  border: 1px solid #dbdbdb;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px 12px;
  overflow-y: 0;
  overflow-x: 0;
}
.result::-webkit-scrollbar {
  display: none;
}
.video {
  min-height: 250px;
  height: 250px;
}
.thumbnails {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.content {
  max-width: 100%;
  max-height: 80px;
  padding: 10px;
  display: flex;
}
.channel-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.title {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin: 0px;
}
h4 {
  margin-top: 0px;
  margin-bottom: 2px;
}
.channel-name {
  font-size: 14px;
  margin: 2px 0;
  color: #979797;
}

body::-webkit-scrollbar {
  background: white;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: rgb(95, 93, 93);
  border-radius: 10px;
}
.leftnav a {
  display: block;
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.leftnav a:hover,
.links.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.active {
  background-color: black;
  color: white;
}
.filter-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
.leftnav a span {
  font-size: 25px;
  margin-right: 20px;
}
.seperator {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px, 0;
}

.video_container {
  height: auto;
  width: 100%;

  background-color: #f8f8f8;
  display: flex;
  top: 40px;
  position: relative;
  z-index: 0;
}

.video_big {
  width: 65%;
  height: 500px;
  margin: 3%;
}
iframe {
  border: none;
  margin-top: 0px;
}
.side_video {
  margin-top: 40px;
  margin-left: -15px;
  width: 35%;
  height: 1000px;
}
.video_big h4 {
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.side_img {
  max-width: 37%;
}
.side_video > div {
  margin-bottom: 2%;
  display: flex;
}
.side_video div h4 {
  max-width: 250px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #393838;
}
.side_video div p {
  margin-top: 0px;
  margin-left: 10px;
  max-width: 250px;
  color: #979797;
}
